---
import Prose from '../../components/Prose.astro'
import Layout from '../../layouts/Layout.astro'
import { getCollection, render } from 'astro:content'
import { sortByDate } from '../../utils/sortByDate'
import BlogNav from '../../components/BlogNav.astro'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  const numberOfPosts = posts.length
  const sortedPosts = posts.sort(sortByDate).map((post, i) => ({
    params: { slug: post.id },
    props: {
      post,
      postNumber: i,
      previousPostData: i + 1 === numberOfPosts ? null : posts[i + 1],
      nextPostData: i === 0 ? null : posts[i - 1],
    },
  }))

  return sortedPosts
}

const { post, previousPostData, nextPostData } = Astro.props
const { Content } = await render(post)
---

<Layout>
  <div class='flex flex-1 flex-col'>
    <div class='mb-4 flex h-28 items-end bg-slate-900 p-1 px-1 sm:p-2'>
      <h2 class='m-0 text-neutral-100'>{post.data.title}</h2>
    </div>
    <Prose>
      <Content />
    </Prose>
    <BlogNav nextPostData={nextPostData} previousPostData={previousPostData} />
  </div>
</Layout>
