---
import Layout from '../../layouts/Layout.astro'
import { getCollection, render } from 'astro:content'
import { sortByDate } from '../../utils/sortByDate'
import BlogNav from '../../components/BlogNav.astro'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  const numberOfPosts = posts.length
  const sortedPosts = posts.sort(sortByDate).map((post, i) => ({
    params: { slug: post.id },
    props: {
      post,
      postNumber: i,
      previousPostData: i + 1 === numberOfPosts ? null : posts[i + 1],
      nextPostData: i === 0 ? null : posts[i - 1],
    },
  }))

  return sortedPosts
}

const { post, previousPostData, nextPostData } = Astro.props
const { Content } = await render(post)
---

<Layout>
  <div class='flex flex-1 flex-col'>
    <h2>{post.data.title}</h2>
    <Content />
    <BlogNav nextPostData={nextPostData} previousPostData={previousPostData} />
  </div>
</Layout>
