@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    color: red;
  }

  @screen sm {
    p {
      color: purple;
    }
  }

  @screen md {
    p {
      color: blue;
    }
  }

  @screen lg {
    p {
      color: green;
    }
  }

  @screen xl {
    p {
      color: royalblue;
    }
  }
}
