---
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'
const allPosts = await getCollection('blog')
---

<Layout>
  <h1>Blog</h1>
  {
    allPosts.length > 0 ? (
      allPosts.map((post: any) => {
        return (
          <div>
            <a href={`/blog/${post.id}`}>{post.data.title}</a>
          </div>
        )
      })
    ) : (
      <h2>There doesn't appear to be any blog posts yet.</h2>
    )
  }
</Layout>
