---
const { previousPostData, nextPostData } = Astro.props
---

<div class='mt-[2.5em] flex flex-col gap-2 md:flex-row'>
  {
    previousPostData ? (
      <a
        href={`/blog/${previousPostData.id}`}
        class='flex flex-col rounded-md border border-black px-4 py-2 font-normal no-underline sm:grow sm:basis-1/3'
      >
        <span class='self-start font-bold'>← Last Post</span>
        <p class='m-0 italic'>{previousPostData.data.title}</p>
      </a>
    ) : (
      <div class='flex cursor-not-allowed flex-col rounded-md border border-black px-4 py-2 sm:grow sm:basis-1/3'>
        <span class='self-start font-bold'>← Last Post</span>
        <p class='m-0 italic'>No previous posts!</p>
      </div>
    )
  }
  <a
    href='/blog/'
    class='flex justify-center rounded-md border border-black px-4 py-2 font-bold no-underline'
  >
    Blog Home
  </a>
  {
    nextPostData ? (
      <a
        href={`/blog/${nextPostData.id}`}
        class='flex flex-col rounded-md border border-black px-4 py-2 font-normal no-underline sm:grow sm:basis-1/3'
      >
        <span class='self-end font-bold'>Next Post →</span>
        <p class='m-0 self-end text-end italic'>{nextPostData.data.title}</p>
      </a>
    ) : (
      <div class='flex cursor-not-allowed flex-col rounded-md border border-black px-4 py-2 sm:grow sm:basis-1/3'>
        <span class='self-end font-bold'>Next Post →</span>
        <p class='m-0 self-end italic'>No next post!</p>
      </div>
    )
  }
</div>
