---
import { Icon } from 'astro-icon/components'
---

<button
  id='nav-menu-button'
  class='hamburger absolute right-0 z-100 mr-4 aspect-square h-8 w-auto cursor-pointer p-0 sm:hidden'
>
  <Icon name='ion:menu-outline' class='text-primary h-full w-full' />

  <script>
    import '../scripts/open-nav'
  </script>
</button>
