---
import { Icon } from 'astro-icon/components'
---

<a
  href={'/'}
  class='text-2xl tracking-tight text-heading sm:text-3xl md:text-4xl'
  aria-labelledby='logo'
>
  <span id='logo' hidden>anmpog.dev</span>
  <Icon name='Logo' aria-hidden='true' focusable='false' />
</a>
