---
import Logo from './Logo.astro'
import NavLink from './NavLink.astro'
const pathName = new URL(Astro.request.url).pathname

// Current path is really more of a "parent" path that I can use to keep link styling when navigating to a sub-path
// This is useful for making the "blog" nav link have styling when you're looking at blog posts
const currentParentPath = pathName.split('/')[1]
---

<header>
  <nav class='flex items-center justify-between px-4 py-4 md:px-0'>
    <Logo />
    <ul class='flex gap-2'>
      <li>
        <NavLink
          linkName={'Home'}
          to={'/'}
          currentParentPath={currentParentPath}
        />
      </li>
      <li>
        <NavLink
          linkName={'Blog'}
          to={'/blog'}
          currentParentPath={currentParentPath}
        />
      </li>
    </ul>
  </nav>
</header>
