---
import { Icon } from 'astro-icon/components'
import Logo from './Logo.astro'
import NavLink from './NavLink.astro'
const pathName = new URL(Astro.request.url).pathname

// Current path is really more of a "parent" path that I can use to keep link styling when navigating to a sub-path
// This is useful for making the "blog" nav link have styling when you're looking at blog posts
const currentParentPath = pathName.split('/')[1]
---

<header>
  <nav class='relative flex items-center justify-between p-4 sm:mb-2 md:mb-4'>
    <Logo />
    <button
      id='nav-menu-button'
      class='hamburger absolute right-0 z-100 mr-4 aspect-square h-8 w-auto cursor-pointer p-0 sm:hidden'
      aria-labelledby='button-label'
      aria-controls='nav-menu-links'
      aria-expanded='false'
      aria-haspopup='true'
    >
      <Icon
        name='ion:menu-outline'
        title='hamburger menu'
        class='text-primary pointer-events-none h-full w-full'
        aria-hidden='true'
        focusable='false'
      />
      <span id='button-label' hidden>Site Navigation</span>
    </button>
    <ul
      id='nav-menu-links'
      class='nav-links absolute top-0 right-0 flex h-[90vh] w-full transform-(--dropdown-menu-closed-transform) flex-col items-center justify-center gap-6 bg-(--color-secondary) transition-(--dropdown-menu-closed-transition) duration-500 ease-in sm:visible sm:relative sm:h-auto sm:transform-none sm:flex-row sm:justify-end sm:gap-4 sm:bg-transparent sm:transition-none [&.expanded]:visible [&.expanded]:transform-(--dropdown-menu-expanded-transform) [&.stop-animation]:transition-(--stop-animation)'
    >
      <li class='m-0 list-none p-3 text-2xl sm:p-0 sm:text-lg'>
        <NavLink
          linkName={'Home'}
          to={'/'}
          currentParentPath={currentParentPath}
        />
      </li>
      <li class='m-0 list-none p-3 text-2xl sm:p-0 sm:text-lg'>
        <NavLink
          linkName={'Blog'}
          to={'/blog'}
          currentParentPath={currentParentPath}
        />
      </li>
      <li class='m-0 list-none p-3 text-2xl sm:p-0 sm:text-lg'>
        <NavLink
          linkName={'Consumption'}
          to={'/consumption'}
          currentParentPath={currentParentPath}
        />
      </li>
    </ul>
  </nav>

  <script>
    import '../scripts/nav-menu.js'
    import '../scripts/stop-animation.ts'
  </script>
</header>
