---
const { linkName, to, currentParentPath } = Astro.props
---

<!-- Active link styling by comparing currentParentPath with `to` with slashes stripped out -->
<a href={to} class={currentParentPath === to.slice(1) ? 'active' : null}>
  {linkName}
</a>

<style>
  a {
    padding: theme('space.2') theme('space.1');
  }
  a::before {
    content: '\00B7';
    visibility: hidden;
  }

  .active {
    color: theme('colors.primary');
    text-decoration: none;
    &:before {
      visibility: visible;
    }
  }
</style>
