<div
  class='prose-inline-code:bg-slate-300 prose-inline-code:p-0.5 prose-inline-code:rounded-sm prose-inline-code:border-1 prose-inline-code:border prose-inline-code:border-slate-400 prose max-w-none leading-5 prose-p:prose-sm prose-pre:prose-sm prose-li:prose-sm prose-headings:font-heading prose-p:leading-5 prose-li:leading-5 sm:prose-h1:text-4xl sm:prose-h2:text-3xl sm:prose-h3:mt-7 sm:prose-h3:text-2xl sm:prose-h4:mt-6 sm:prose-h4:text-xl sm:prose-p:text-base sm:prose-pre:text-base sm:prose-li:text-base md:prose-h2:text-4xl md:prose-p:text-lg md:prose-pre:text-lg md:prose-li:text-lg'
>
  <slot />
</div>
