---
import '../styles/main.css'
import Navigation from '../components/Navigation.astro'
import Footer from '../components/Footer.astro'

import capitalize from 'lodash.capitalize'
import { siteMetaData } from '../data/site-data.json'
const { contentDescription } = Astro.props
const url =
  Astro.url.pathname === '/' ? 'home' : Astro.url.pathname.replace('/', '')
const formattedTitleUrl = capitalize(url)
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content={contentDescription} />
    <title>{`${siteMetaData.siteTitle} | ${formattedTitleUrl}`}</title>
  </head>
  <body
    class='preload flex min-h-screen w-full flex-col bg-(--color-background)'
  >
    <div class='mx-auto flex w-full max-w-(--breakpoint-md) grow flex-col'>
      <Navigation />
      <main class='grid w-full grow grid-cols-12 gap-4'>
        <div class='col-start-1 col-end-13 flex flex-col px-4'>
          <slot />
        </div>
      </main>
      <Footer />
    </div>
    <script>
      window.addEventListener('load', () => {
        document.body.classList.remove('preload')
      })
    </script>
  </body>
</html>
